@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  background-image: linear-gradient(135deg, #8fdeff 50%, #4dcbff 100%); }
  html.ocean {
    background-image: linear-gradient(135deg, #01a9c1 50%, #051f34 100%); }
  html.black {
    background-image: linear-gradient(135deg, #070708 50%, #070708 100%); }

body {
  width: 100%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

main {
  height: 0; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90%;
  transform: translate(-44%, -65%); }
  @media only screen and (max-width: 90em) {
    .container {
      width: 100%;
      transform: translate(-45%, -65%); } }
  @media only screen and (max-width: 75em) {
    .container {
      width: 90%;
      transform: translate(-45%, -60%); } }
  @media only screen and (max-width: 56.25em) {
    .container {
      width: 100%;
      transform: translate(-50%, -50%); } }
  @media only screen and (max-width: 37.5em) {
    .container {
      width: 100%;
      transform: translate(-50%, -50%); } }

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(135deg, rgba(143, 222, 255, 0.5) 50%, rgba(77, 203, 255, 0.5) 100%), url("../img/bg-photo-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -600;
  overflow: hidden; }
  .top-section.ocean {
    background-image: linear-gradient(135deg, rgba(1, 169, 193, 0.5) 50%, rgba(7, 7, 8, 0.5) 100%), url("../img/bg-photo-1.jpg"); }
  .top-section.black {
    background-image: linear-gradient(135deg, rgba(7, 7, 8, 0.7) 50%, rgba(7, 7, 8, 0.7) 100%), url("../img/bg-photo-1.jpg"); }

.about-section {
  background-image: linear-gradient(135deg, rgba(143, 222, 255, 0.5) 50%, rgba(77, 203, 255, 0.5) 100%), url("../img/bg-photo-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: -9000px;
  left: -9000px;
  width: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out; }
  .about-section.ocean {
    background-image: linear-gradient(135deg, rgba(1, 169, 193, 0.5) 50%, rgba(7, 7, 8, 0.5) 100%), url("../img/bg-photo-2.jpg"); }
  .about-section.black {
    background-image: linear-gradient(135deg, rgba(7, 7, 8, 0.7) 50%, rgba(7, 7, 8, 0.7) 100%), url("../img/bg-photo-2.jpg"); }
  .about-section.active {
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0); }
  @media only screen and (max-width: 56.25em) {
    .about-section {
      overflow: scroll;
      padding: 34rem 0;
      z-index: -400; } }
  @media only screen and (max-width: 35.5em) {
    .about-section {
      overflow: scroll;
      height: 0;
      padding: 24rem 0;
      z-index: -400; } }
  @media only screen and (max-width: 37.5em) {
    .about-section {
      overflow: scroll;
      padding: 34rem 0;
      z-index: -400; } }

.project-section {
  background-image: linear-gradient(135deg, rgba(143, 222, 255, 0.5) 50%, rgba(77, 203, 255, 0.5) 100%), url("../img/bg-photo-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: -9000px;
  left: -9000px;
  width: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out; }
  .project-section.ocean {
    background-image: linear-gradient(135deg, rgba(1, 169, 193, 0.5) 50%, rgba(7, 7, 8, 0.5) 100%), url("../img/bg-photo-3.jpg"); }
  .project-section.black {
    background-image: linear-gradient(135deg, rgba(7, 7, 8, 0.7) 50%, rgba(7, 7, 8, 0.7) 100%), url("../img/bg-photo-3.jpg"); }
  .project-section.active {
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0); }
  @media only screen and (max-width: 75em) {
    .project-section {
      overflow: scroll;
      padding: 41rem 0;
      z-index: -400; } }
  @media only screen and (max-width: 56.25em) {
    .project-section {
      overflow: scroll;
      padding: 35rem 0;
      z-index: -400; } }
  @media only screen and (max-width: 35.5em) {
    .project-section {
      overflow: scroll;
      padding: 85rem 0;
      z-index: -400; } }
  @media only screen and (max-width: 37.5em) {
    .project-section {
      overflow: scroll;
      padding: 70rem 0;
      z-index: -400; } }

.footer {
  margin-top: 150px; }
  @media only screen and (max-width: 90em) {
    .footer {
      margin-top: 30px; } }
  @media only screen and (max-width: 75em) {
    .footer {
      margin-top: 40px; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      margin-top: 200px; } }

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100vh;
  z-index: 10000;
  background-image: linear-gradient(135deg, rgba(77, 203, 255, 0.7) 50%, rgba(77, 203, 255, 0.7) 100%);
  transition: all 0.4s ease-in-out; }
  .main-menu.active {
    transform: translate3d(0, 0, 0); }
  .main-menu.ocean {
    background-image: linear-gradient(135deg, rgba(5, 31, 52, 0.7) 50%, rgba(5, 31, 52, 0.7) 100%); }
  .main-menu.black {
    background-image: linear-gradient(135deg, rgba(14, 15, 16, 0.7) 50%, rgba(14, 15, 16, 0.7) 100%); }
  @media only screen and (max-width: 56.25em) {
    .main-menu {
      transform: translate3d(-100%, 0, 0);
      height: 104vh; } }
  @media only screen and (max-width: 37.5em) {
    .main-menu {
      transform: translate3d(-100%, 0, 0);
      height: 106vh;
      width: 20%; } }

.center {
  text-align: center;
  font-family: 'Roboto', sans-serif; }
  .center__title {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .center__title {
        font-size: 2.3rem; } }
  .center__sub-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize; }
    @media only screen and (max-width: 37.5em) {
      .center__sub-title {
        font-size: 1.4rem; } }
  .center--top-section {
    visibility: hidden;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: title 0.3s ease-in-out forwards 1.5s;
    animation: title 0.3s ease-in-out forwards 1.5s; }
    @media only screen and (max-width: 56.25em) {
      .center--top-section {
        width: 100%;
        left: 30%; } }
    @media only screen and (max-width: 37.5em) {
      .center--top-section {
        width: 100%;
        left: 30%; } }

.social-media {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5%;
  right: 3%; }
  @media only screen and (max-width: 56.25em) {
    .social-media {
      top: 14%;
      right: 3%; } }
  @media only screen and (max-width: 37.5em) {
    .social-media {
      top: 82%;
      right: 3%; } }
  .social-media__link {
    width: inherit;
    height: inherit; }
  .social-media__icon {
    height: inherit;
    width: inherit;
    fill: #fff;
    transition: all 0.3s ease-in-out; }
    .social-media__icon:hover {
      fill: #4dcbff;
      transform: scale(1.3, 1.3); }
      .social-media__icon:hover.ocean {
        fill: #051f34;
        transform: scale(1.3, 1.3); }
      .social-media__icon:hover.black {
        fill: #343a40;
        transform: scale(1.3, 1.3); }

.center {
  margin-bottom: 5rem; }
  .center__main-title {
    font-size: 2.1rem;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .center__main-title {
        font-size: 1.6rem; } }
  .center__hr {
    overflow: visible;
    /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #4dcbff;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 30%; }
    .center__hr.ocean {
      border-color: #051f34; }
    .center__hr.black {
      border-color: #070708; }
    @media only screen and (max-width: 75em) {
      .center__hr {
        width: 45%; } }
    @media only screen and (max-width: 56.25em) {
      .center__hr {
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .center__hr {
        width: 85%; } }
    .center__hr--project {
      width: 10%; }
      @media only screen and (max-width: 75em) {
        .center__hr--project {
          width: 20%; } }
      @media only screen and (max-width: 56.25em) {
        .center__hr--project {
          width: 25%; } }
      @media only screen and (max-width: 37.5em) {
        .center__hr--project {
          width: 30%; } }
  .center__hr-2 {
    overflow: visible;
    /* For IE */
    height: 30px;
    margin-top: -65px;
    border-style: solid;
    border-color: #4dcbff;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    width: 30%; }
    .center__hr-2.ocean {
      border-color: #051f34; }
    .center__hr-2.black {
      border-color: #070708; }
    @media only screen and (max-width: 75em) {
      .center__hr-2 {
        width: 45%; } }
    @media only screen and (max-width: 56.25em) {
      .center__hr-2 {
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .center__hr-2 {
        width: 85%; } }
    .center__hr-2--project {
      width: 10%;
      margin-top: -66px; }
      @media only screen and (max-width: 75em) {
        .center__hr-2--project {
          width: 20%; } }
      @media only screen and (max-width: 56.25em) {
        .center__hr-2--project {
          width: 25%; } }
      @media only screen and (max-width: 37.5em) {
        .center__hr-2--project {
          width: 30%; } }
  .center__click {
    display: none;
    color: #4dcbff;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate;
    animation: blinker 0.5s ease-in-out infinite alternate; }
    .center__click.ocean {
      color: #051f34;
      -webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate;
      animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate; }
    .center__click.black {
      -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate;
      animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate; }
    @media only screen and (max-width: 75em) {
      .center__click {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 56.25em) {
      .center__click {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .center__click {
        display: inline-block;
        font-size: 0.9rem; } }
  .center__click-2 {
    display: none;
    color: #4dcbff;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.2s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.2s; }
    .center__click-2.ocean {
      color: #051f34;
      -webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.2s;
      animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.2s; }
    .center__click-2.black {
      color: #070708;
      -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.2s;
      animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.2s; }
    @media only screen and (max-width: 75em) {
      .center__click-2 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 56.25em) {
      .center__click-2 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .center__click-2 {
        display: inline-block;
        font-size: 0.9rem; } }
  .center__click-3 {
    display: none;
    color: #4dcbff;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.3s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.3s; }
    .center__click-3.ocean {
      color: #051f34;
      -webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.3s;
      animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.3s; }
    .center__click-3.black {
      -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.3s;
      animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.3s; }
    @media only screen and (max-width: 75em) {
      .center__click-3 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 56.25em) {
      .center__click-3 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .center__click-3 {
        display: inline-block;
        font-size: 0.9rem; } }
  .center__click-4 {
    display: none;
    color: #4dcbff;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.4s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.4s; }
    .center__click-4.ocean {
      color: #051f34;
      -webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.4s;
      animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.4s; }
    .center__click-4.black {
      -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.4s;
      animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.4s; }
    @media only screen and (max-width: 75em) {
      .center__click-4 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 56.25em) {
      .center__click-4 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .center__click-4 {
        display: inline-block;
        font-size: 0.9rem; } }
  .center__click-5 {
    display: none;
    color: #4dcbff;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.5s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.5s; }
    .center__click-5.ocean {
      color: #051f34;
      -webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.5s;
      animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.5s; }
    .center__click-5.black {
      -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.5s;
      animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.5s; }
    @media only screen and (max-width: 75em) {
      .center__click-5 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 56.25em) {
      .center__click-5 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .center__click-5 {
        display: inline-block;
        font-size: 0.9rem; } }

.about-section--center {
  padding-top: 15rem; }
  @media only screen and (max-width: 90em) {
    .about-section--center {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 75em) {
    .about-section--center {
      padding-top: 0; } }
  @media only screen and (max-width: 56.25em) {
    .about-section--center {
      padding-top: 0; } }
  @media only screen and (max-width: 37.5em) {
    .about-section--center {
      padding-top: 0; } }

.bio-box {
  font-family: 'Roboto', sans-serif;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(135deg, rgba(151, 208, 232, 0.7) 50%, #97d0e8 100%);
  border-radius: 10px;
  -webkit-box-shadow: -1px 0 30px -10px #4dcbff;
  -moz-box-shadow: -1px 0 30px -10px #4dcbff;
  box-shadow: -1px 0 30px -10px #4dcbff;
  -webkit-animation: blinker-2 1s ease-in-out infinite alternate;
  animation: blinker-2 1s ease-in-out infinite alternate; }
  .bio-box.ocean {
    background-image: linear-gradient(135deg, rgba(2, 116, 149, 0.7) 50%, rgba(2, 116, 149, 0.7) 100%);
    -webkit-animation: colorPickerBlinker-2Ocean 1s ease-in-out infinite alternate;
    animation: colorPickerBlinker-2Ocean 1s ease-in-out infinite alternate; }
  .bio-box.black {
    background-image: linear-gradient(135deg, rgba(7, 7, 8, 0.7) 50%, rgba(7, 7, 8, 0.7) 100%);
    -webkit-animation: colorPickerBlinker-2Black 1s ease-in-out infinite alternate;
    animation: colorPickerBlinker-2Black 1s ease-in-out infinite alternate; }
  @media only screen and (max-width: 75em) {
    .bio-box {
      width: 90%; } }
  @media only screen and (max-width: 56.25em) {
    .bio-box {
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .bio-box {
      width: 90%;
      padding: 1rem; } }
  .bio-box__name {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .bio-box__name {
        font-size: 1.4rem; } }
  .bio-box__state {
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.3s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.3s; }
    .bio-box__state.ocean {
      -webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.3s;
      animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.3s; }
    .bio-box__state.black {
      -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.3s;
      animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.3s; }
  .bio-box__location {
    font-size: 1rem;
    color: #4dcbff;
    margin-bottom: 1.5rem;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.2s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.2s; }
    .bio-box__location.ocean {
      -webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.2s;
      animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.2s; }
    .bio-box__location.black {
      -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.2s;
      animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .bio-box__location {
        font-size: 0.9rem; } }
  .bio-box__icon {
    width: 12px;
    height: 12px;
    fill: #4dcbff;
    margin-right: 0.2rem;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate;
    animation: blinker 0.5s ease-in-out infinite alternate; }
    .bio-box__icon.ocean {
      -webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate;
      animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate; }
    .bio-box__icon.black {
      -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate;
      animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate; }
    @media only screen and (max-width: 37.5em) {
      .bio-box__icon {
        font-size: 1rem; } }
  .bio-box__paragraph {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .bio-box__paragraph {
        font-size: 1rem; } }
  .bio-box__skills {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto; }
    @media only screen and (max-width: 75em) {
      .bio-box__skills {
        justify-content: center;
        width: 90; } }
    @media only screen and (max-width: 56.25em) {
      .bio-box__skills {
        justify-content: center;
        width: 90; } }
    @media only screen and (max-width: 37.5em) {
      .bio-box__skills {
        justify-content: center;
        width: 90; } }
  .bio-box__html {
    color: #fff;
    background-color: rgba(77, 203, 255, 0.5);
    padding: 10px 30px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
    transition: all 0.3s ease-in-out; }
    .bio-box__html.ocean {
      background-color: rgba(5, 31, 52, 0.5); }
    .bio-box__html.black {
      background-color: rgba(7, 7, 8, 0.5); }
    .bio-box__html:hover {
      fill: #4dcbff;
      transform: scale(1.08, 1.08); }
      .bio-box__html:hover.ocean {
        fill: #051f34;
        transform: scale(1.1, 1.1); }
      .bio-box__html:hover.black {
        fill: #070708;
        transform: scale(1.1, 1.1); }
  .bio-box__css {
    color: #fff;
    background-color: rgba(77, 203, 255, 0.5);
    padding: 10px 35px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .bio-box__css.ocean {
      background-color: rgba(5, 31, 52, 0.5); }
    .bio-box__css.black {
      background-color: rgba(7, 7, 8, 0.5); }
    .bio-box__css:hover {
      fill: #4dcbff;
      transform: scale(1.08, 1.08); }
      .bio-box__css:hover.ocean {
        fill: #051f34;
        transform: scale(1.1, 1.1); }
      .bio-box__css:hover.black {
        fill: #070708;
        transform: scale(1.1, 1.1); }

.project-section--center {
  padding-top: 17rem; }
  @media only screen and (max-width: 90em) {
    .project-section--center {
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 75em) {
    .project-section--center {
      padding-top: 18rem;
      margin-bottom: 2.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .project-section--center {
      padding-top: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .project-section--center {
      padding-top: 0; } }

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 320px;
  grid-gap: 20px;
  max-width: 80rem;
  margin: 0 auto; }
  @media only screen and (max-width: 90em) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      max-width: 60rem; } }
  @media only screen and (max-width: 75em) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      width: 85%; } }
  @media only screen and (max-width: 37.5em) {
    .wrapper {
      grid-template-columns: 1fr;
      grid-row-gap: 140px;
      width: 100%;
      margin-bottom: 50px; } }
  .wrapper__items {
    -webkit-box-shadow: -1px 0 30px -10px #4dcbff;
    -moz-box-shadow: -1px 0 30px -10px #4dcbff;
    box-shadow: -1px 0 30px -10px #4dcbff;
    -webkit-animation: blinker-2 1s ease-in-out infinite alternate;
    animation: blinker-2 1s ease-in-out infinite alternate; }
    .wrapper__items.ocean {
      -webkit-animation: colorPickerBlinker-2Ocean 1s ease-in-out infinite alternate;
      animation: colorPickerBlinker-2Ocean 1s ease-in-out infinite alternate; }
    .wrapper__items.black {
      -webkit-animation: colorPickerBlinker-2Black 1s ease-in-out infinite alternate;
      animation: colorPickerBlinker-2Black 1s ease-in-out infinite alternate; }
    @media only screen and (max-width: 37.5em) {
      .wrapper__items {
        height: 110%;
        -webkit-box-shadow: -1px 0 30px -10px #4dcbff;
        -moz-box-shadow: -1px 0 30px -10px #4dcbff;
        box-shadow: -1px 0 30px -10px #4dcbff; }
        .wrapper__items.ocean {
          -webkit-animation: colorPickerBlinker-2Ocean 1s ease-in-out infinite alternate;
          animation: colorPickerBlinker-2Ocean 1s ease-in-out infinite alternate; }
        .wrapper__items.black {
          -webkit-animation: colorPickerBlinker-2Black 1s ease-in-out infinite alternate;
          animation: colorPickerBlinker-2Black 1s ease-in-out infinite alternate; } }
    .wrapper__items:hover {
      transform: scale3d(0, 10px, 0); }
      .wrapper__items:hover.ocean {
        -webkit-animation: colorPickerBlinker-2Ocean 1s ease-in-out infinite alternate;
        animation: colorPickerBlinker-2Ocean 1s ease-in-out infinite alternate; }
      .wrapper__items:hover.black {
        -webkit-animation: colorPickerBlinker-2Black 1s ease-in-out infinite alternate;
        animation: colorPickerBlinker-2Black 1s ease-in-out infinite alternate; }
      @media only screen and (max-width: 75em) {
        .wrapper__items:hover {
          -webkit-animation: 0;
          animation: 0; }
          .wrapper__items:hover.ocean {
            -webkit-animation: 0;
            animation: 0; }
          .wrapper__items:hover.black {
            -webkit-animation: 0;
            animation: 0; } }
      @media only screen and (max-width: 56.25em) {
        .wrapper__items:hover {
          -webkit-animation: 0;
          animation: 0; }
          .wrapper__items:hover.ocean {
            -webkit-animation: 0;
            animation: 0; }
          .wrapper__items:hover.black {
            -webkit-animation: 0;
            animation: 0; } }
      @media only screen and (max-width: 37.5em) {
        .wrapper__items:hover {
          -webkit-animation: 0;
          animation: 0; }
          .wrapper__items:hover.ocean {
            -webkit-animation: 0;
            animation: 0; }
          .wrapper__items:hover.black {
            -webkit-animation: 0;
            animation: 0; } }
    .wrapper__items:hover > .wrapper__info {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0); }
      @media only screen and (max-width: 75em) {
        .wrapper__items:hover > .wrapper__info {
          opacity: 0;
          visibility: hidden; } }
      @media only screen and (max-width: 56.25em) {
        .wrapper__items:hover > .wrapper__info {
          opacity: 0;
          visibility: hidden; } }
      @media only screen and (max-width: 37.5em) {
        .wrapper__items:hover > .wrapper__info {
          opacity: 0;
          visibility: hidden; } }
    @media only screen and (max-width: 75em) {
      .wrapper__items.active > .wrapper__info {
        opacity: 1;
        visibility: visible; } }
    @media only screen and (max-width: 56.25em) {
      .wrapper__items.active > .wrapper__info {
        opacity: 1;
        visibility: visible; } }
    @media only screen and (max-width: 37.5em) {
      .wrapper__items.active > .wrapper__info {
        opacity: 1;
        visibility: visible; } }
  .wrapper__info {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    height: 100%;
    background-image: linear-gradient(to right, rgba(143, 222, 255, 0.9), rgba(77, 203, 255, 0.9));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    transform: translate3d(0, 50px, 0);
    transition: all 0.4s ease-in-out 0.1s;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden; }
    .wrapper__info.ocean {
      background-image: linear-gradient(to right, rgba(5, 31, 52, 0.9), rgba(5, 31, 52, 0.9)); }
    .wrapper__info.black {
      background-image: linear-gradient(to right, rgba(7, 7, 8, 0.9), rgba(7, 7, 8, 0.9)); }
  .wrapper__title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.4rem; }
  .wrapper__title--1 {
    margin-bottom: 2rem; }
  .wrapper__title--2 {
    margin-bottom: 2rem; }
  .wrapper__title--3 {
    margin-bottom: 2rem; }
  .wrapper__paragraph {
    line-height: 1.2rem;
    margin-bottom: 0.4rem; }
  .wrapper__button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 8px auto; }
    @media only screen and (max-width: 75em) {
      .wrapper__button-container {
        width: 60%; } }
    @media only screen and (max-width: 56.25em) {
      .wrapper__button-container {
        width: 70%;
        margin: 10px auto 0; } }
    @media only screen and (max-width: 37.5em) {
      .wrapper__button-container {
        width: 70%;
        margin: 10px auto 0; } }
    @media only screen and (max-width: 35.5em) {
      .wrapper__button-container {
        width: 80%;
        margin: 10px auto 0; } }
    .wrapper__button-container--project {
      color: #fff;
      text-decoration: none;
      background-color: rgba(77, 203, 255, 0.5);
      padding: 10px 25px;
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease-in-out; }
      .wrapper__button-container--project.ocean {
        background-color: rgba(5, 31, 52, 0.5); }
      .wrapper__button-container--project.black {
        background-color: rgba(7, 7, 8, 0.5); }
      .wrapper__button-container--project:hover {
        fill: #4dcbff;
        transform: scale(1.08, 1.08); }
        .wrapper__button-container--project:hover.ocean {
          fill: #051f34;
          transform: scale(1.1, 1.1); }
        .wrapper__button-container--project:hover.black {
          fill: #070708;
          transform: scale(1.1, 1.1); }
    .wrapper__button-container--code {
      color: #fff;
      text-decoration: none;
      background-color: rgba(77, 203, 255, 0.5);
      padding: 10px 32px;
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease-in-out; }
      .wrapper__button-container--code.ocean {
        background-color: rgba(5, 31, 52, 0.5); }
      .wrapper__button-container--code.black {
        background-color: rgba(7, 7, 8, 0.5); }
      .wrapper__button-container--code:hover {
        fill: #4dcbff;
        transform: scale(1.08, 1.08); }
        .wrapper__button-container--code:hover.ocean {
          fill: #051f34;
          transform: scale(1.1, 1.1); }
        .wrapper__button-container--code:hover.black {
          fill: #070708;
          transform: scale(1.1, 1.1); }
  .wrapper__items--1 {
    background-image: url("../img/ebay-email-img.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
  .wrapper__technology {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .wrapper__second-title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.4rem; }
  .wrapper__second-title--1 {
    margin-bottom: 2rem; }
  .wrapper__second-title--2 {
    margin-bottom: 2rem; }
  .wrapper__second-title--3 {
    margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .wrapper__wrapper-technologies {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 35.5em) {
    .wrapper__wrapper-technologies {
      margin-bottom: 0.5rem; } }
  .wrapper__list-items {
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .wrapper__list-items:not(:last-child) {
        margin-left: 2.4rem; } }
    .wrapper__list-items:not(:last-child) {
      margin-right: 1.5rem; }
  .wrapper__items--2 {
    background-image: url("../img/broward-email-img.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
  .wrapper__items--3 {
    background-image: url("../img/beatson.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
  .wrapper__items--4 {
    background-image: url("../img/codingphaseclone-img.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }

.footer__text {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .footer__text {
      font-size: 1rem; } }

.footer__copywrite {
  color: #4dcbff;
  -webkit-animation: blinker 0.5s ease-in-out infinite alternate;
  animation: blinker 0.5s ease-in-out infinite alternate; }
  .footer__copywrite.ocean {
    color: #051f34;
    --webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate;
    animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate; }
  .footer__copywrite.black {
    color: #070708;
    -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate;
    animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate; }

.footer__first-name {
  color: #4dcbff;
  -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.2s;
  animation: blinker 0.5s ease-in-out infinite alternate 0.2s; }
  .footer__first-name.ocean {
    color: #051f34;
    -webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.2s;
    animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.2s; }
  .footer__first-name.black {
    color: #070708;
    -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.2s;
    animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.2s; }

.footer__last-name {
  color: #4dcbff;
  -webkit-animation: blinker 0.3s ease-in-out infinite alternate 0.3s;
  animation: blinker 0.3s ease-in-out infinite alternate 0.3s; }
  .footer__last-name.ocean {
    color: #051f34;
    -webkit-animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.3s;
    animation: colorPickerBlinkerOcean 0.5s ease-in-out infinite alternate 0.3s; }
  .footer__last-name.black {
    color: #070708;
    -webkit-animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.3s;
    animation: colorPickerBlinkerBlack 0.5s ease-in-out infinite alternate 0.3s; }

.side-menu {
  width: 10%;
  height: 100vh; }
  .side-menu__list {
    display: block;
    margin-left: 400%; }
    @media only screen and (max-width: 56.25em) {
      .side-menu__list {
        margin-left: 300%; } }
    @media only screen and (max-width: 37.5em) {
      .side-menu__list {
        margin-left: 300%; } }
    .side-menu__list:first-child {
      padding-top: 80px; }
    .side-menu__list:not(:last-child) {
      margin-bottom: 50px; }
  .side-menu__link {
    width: 30px;
    height: 30px; }
    @media only screen and (max-width: 37.5em) {
      .side-menu__link {
        width: 26px;
        height: 26px; } }
  .side-menu__icon {
    width: inherit;
    height: inherit;
    fill: #fff;
    transition: all 0.3s ease-in-out; }
    .side-menu__icon.ocean {
      fill: #fff; }
      .side-menu__icon.ocean:hover {
        fill: #051f34;
        transform: scale(1.3, 1.3); }
    .side-menu__icon.black {
      fill: #fff; }
      .side-menu__icon.black:hover {
        fill: #343a40;
        transform: scale(1.3, 1.3); }
    .side-menu__icon:hover {
      fill: #4dcbff;
      transform: scale(1.3, 1.3); }

.mobile-menu {
  display: none;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 9000;
  background-image: linear-gradient(135deg, #4dcbff 50%, rgba(143, 222, 255, 0.3) 100%); }
  .mobile-menu.ocean {
    background-image: linear-gradient(135deg, #051f34 50%, rgba(5, 31, 52, 0.3) 100%); }
  .mobile-menu.black {
    background-image: linear-gradient(135deg, rgba(14, 15, 16, 0.1) 50%, rgba(14, 15, 16, 0.1) 100%); }
  .mobile-menu:after {
    display: table;
    content: "";
    clear: both; }
  @media only screen and (max-width: 56.25em) {
    .mobile-menu {
      display: inline-block; } }
  @media only screen and (max-width: 37.5em) {
    .mobile-menu {
      display: inline-block; } }
  .mobile-menu__logo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    margin-top: 0.1rem;
    margin-left: 2.5rem; }
  .mobile-menu__menu {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-top: 0.2rem;
    margin-right: 1rem; }
  .mobile-menu__icon {
    width: 30px;
    height: 30px;
    fill: #fff;
    transition: all 0.3s ease-in-out; }
    .mobile-menu__icon.ocean {
      fill: #fff; }
      .mobile-menu__icon.ocean:hover {
        fill: #051f34;
        transform: scale(1.3, 1.3); }
    .mobile-menu__icon.black {
      fill: #fff; }
      .mobile-menu__icon.black:hover {
        fill: #343a40;
        transform: scale(1.3, 1.3); }
    @media only screen and (max-width: 37.5em) {
      .mobile-menu__icon {
        width: 22px;
        height: 22px;
        margin-top: 0.3rem; } }
    .mobile-menu__icon:hover {
      fill: #4dcbff;
      transform: scale(1.1, 1.1); }

.picker {
  width: 30px;
  height: 30px;
  position: relative;
  left: 40%;
  bottom: 20%;
  cursor: pointer; }
  @media only screen and (max-width: 75em) {
    .picker {
      left: 35%; } }
  @media only screen and (max-width: 56.25em) {
    .picker {
      left: 32%; } }
  @media only screen and (max-width: 37.5em) {
    .picker {
      left: 30%; } }
  .picker__color-picker {
    width: inherit;
    height: inherit;
    fill: #fff;
    transition: all 0.3s ease-in-out; }
    .picker__color-picker.ocean {
      fill: #fff; }
      .picker__color-picker.ocean:hover {
        fill: #051f34;
        transform: scale(1.3, 1.3); }
    .picker__color-picker.black {
      fill: #fff; }
      .picker__color-picker.black:hover {
        fill: #343a40;
        transform: scale(1.3, 1.3); }
    .picker__color-picker:hover {
      fill: #4dcbff;
      transform: scale(1.3, 1.3); }

.color-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50px;
  background-image: linear-gradient(135deg, #8fdeff 50%, #4dcbff 100%);
  position: relative;
  left: 0;
  bottom: 30%;
  border-radius: 30px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out; }
  .color-switcher.active {
    visibility: visible;
    opacity: 1; }
  .color-switcher.ocean {
    background-image: linear-gradient(135deg, rgba(5, 31, 52, 0.2) 50%, rgba(5, 31, 52, 0.2) 100%); }
  .color-switcher.black {
    background-image: linear-gradient(135deg, #343a40 50%, #343a40 100%); }
  @media only screen and (max-width: 90em) {
    .color-switcher {
      bottom: 34%; } }
  @media only screen and (max-width: 75em) {
    .color-switcher {
      width: 66%;
      height: 160px;
      bottom: 36%; } }
  @media only screen and (max-width: 56.25em) {
    .color-switcher {
      height: 160px;
      bottom: 40%; } }
  @media only screen and (max-width: 35.5em) {
    .color-switcher {
      bottom: 52%; } }
  @media only screen and (max-width: 37.5em) {
    .color-switcher {
      height: 135px;
      bottom: 48%; } }
  .color-switcher__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 80%; }
    @media only screen and (max-width: 75em) {
      .color-switcher__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 10px; } }
    @media only screen and (max-width: 56.25em) {
      .color-switcher__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 10px; } }
    @media only screen and (max-width: 37.5em) {
      .color-switcher__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 10px; } }
    @media only screen and (max-width: 35.5em) {
      .color-switcher__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 10px; } }
  .color-switcher__switcher-1 {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #051f34;
    border-radius: 50%;
    cursor: pointer; }
    @media only screen and (max-width: 90em) {
      .color-switcher__switcher-1 {
        width: 34px;
        height: 34px; } }
    @media only screen and (max-width: 75em) {
      .color-switcher__switcher-1 {
        justify-self: center;
        width: 34px;
        height: 34px; } }
    @media only screen and (max-width: 56.25em) {
      .color-switcher__switcher-1 {
        justify-self: center;
        width: 34px;
        height: 34px; } }
    @media only screen and (max-width: 37.5em) {
      .color-switcher__switcher-1 {
        justify-self: center;
        width: 30px;
        height: 30px; } }
  .color-switcher__switcher-2 {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #070708;
    border-radius: 50%;
    cursor: pointer; }
    @media only screen and (max-width: 90em) {
      .color-switcher__switcher-2 {
        width: 34px;
        height: 34px; } }
    @media only screen and (max-width: 75em) {
      .color-switcher__switcher-2 {
        justify-self: center;
        width: 34px;
        height: 34px; } }
    @media only screen and (max-width: 56.25em) {
      .color-switcher__switcher-2 {
        justify-self: center;
        width: 34px;
        height: 34px; } }
    @media only screen and (max-width: 37.5em) {
      .color-switcher__switcher-2 {
        justify-self: center;
        width: 30px;
        height: 30px; } }
  .color-switcher__switcher-3 {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #4dcbff;
    border-radius: 50%;
    cursor: pointer; }
    @media only screen and (max-width: 90em) {
      .color-switcher__switcher-3 {
        width: 34px;
        height: 34px; } }
    @media only screen and (max-width: 75em) {
      .color-switcher__switcher-3 {
        justify-self: center;
        width: 34px;
        height: 34px; } }
    @media only screen and (max-width: 56.25em) {
      .color-switcher__switcher-3 {
        justify-self: center;
        width: 34px;
        height: 34px; } }
    @media only screen and (max-width: 37.5em) {
      .color-switcher__switcher-3 {
        justify-self: center;
        width: 30px;
        height: 30px; } }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

@-webkit-keyframes shake {
  0% {
    fill: rgba(143, 222, 255, 0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    fill: #4dcbff;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); } }

@keyframes shake {
  0% {
    fill: rgba(143, 222, 255, 0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    fill: #4dcbff;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); } }

@-webkit-keyframes colorPickerShakeOcean {
  0% {
    fill: rgba(5, 31, 52, 0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    fill: #051f34;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); } }

@keyframes colorPickerShakeOcean {
  0% {
    fill: rgba(5, 31, 52, 0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    fill: #051f34;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); } }

@-webkit-keyframes colorPickerShakeBlack {
  0% {
    fill: rgba(7, 7, 8, 0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    fill: #070708;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); } }

@keyframes colorPickerShakeBlack {
  0% {
    fill: rgba(7, 7, 8, 0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    fill: #070708;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); } }

/*********************************************************************************/
@-webkit-keyframes shake-3 {
  0% {
    fill: rgba(143, 222, 255, 0.1); }
  100% {
    fill: #4dcbff; } }

@keyframes shake-3 {
  0% {
    fill: rgba(143, 222, 255, 0.1); }
  100% {
    fill: #4dcbff; } }

@-webkit-keyframes colorPickerShake-3Ocean {
  0% {
    fill: rgba(5, 31, 52, 0.1); }
  100% {
    fill: #051f34; } }

@keyframes colorPickerShake-3Ocean {
  0% {
    fill: rgba(5, 31, 52, 0.1); }
  100% {
    fill: #051f34; } }

@-webkit-keyframes colorPickerShake-3Black {
  0% {
    fill: rgba(7, 7, 8, 0.1); }
  100% {
    fill: #070708; } }

@keyframes colorPickerShake-3Black {
  0% {
    fill: rgba(7, 7, 8, 0.1); }
  100% {
    fill: #070708; } }

/*********************************************************************************/
@-webkit-keyframes blinker {
  0% {
    color: #fff;
    fill: #fff; }
  100% {
    color: #4dcbff;
    fill: #4dcbff; } }

@keyframes blinker {
  0% {
    color: #fff;
    fill: #fff; }
  100% {
    color: #4dcbff;
    fill: #4dcbff; } }

@-webkit-keyframes colorPickerBlinkerOcean {
  0% {
    color: #fff;
    fill: #fff; }
  100% {
    color: #051f34;
    fill: #051f34; } }

@keyframes colorPickerBlinkerOcean {
  0% {
    color: #fff;
    fill: #fff; }
  100% {
    color: #051f34;
    fill: #051f34; } }

@-webkit-keyframes colorPickerBlinkerBlack {
  0% {
    color: #fff;
    fill: #fff; }
  100% {
    color: #070708;
    fill: #070708; } }

@keyframes colorPickerBlinkerBlack {
  0% {
    color: #fff;
    fill: #fff; }
  100% {
    color: #070708;
    fill: #070708; } }

/*********************************************************************************/
@-webkit-keyframes blinker-2 {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px white;
    box-shadow: -1px 0 30px -10px white; }
  100% {
    -webkit-box-shadow: -1px 0 30px -10px #4dcbff;
    box-shadow: -1px 0 30px -10px #4dcbff; } }

@keyframes blinker-2 {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px white;
    box-shadow: -1px 0 30px -10px white; }
  100% {
    -webkit-box-shadow: -1px 0 30px -10px #4dcbff;
    box-shadow: -1px 0 30px -10px #4dcbff; } }

@-webkit-keyframes colorPickerBlinker-2Ocean {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px white;
    box-shadow: -1px 0 30px -10px white; }
  100% {
    -webkit-box-shadow: -1px 0 30px -10px #051f34;
    box-shadow: -1px 0 30px -10px #051f34; } }

@keyframes colorPickerBlinker-2Ocean {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px white;
    box-shadow: -1px 0 30px -10px white; }
  100% {
    -webkit-box-shadow: -1px 0 30px -10px #051f34;
    box-shadow: -1px 0 30px -10px #051f34; } }

@-webkit-keyframes colorPickerBlinker-2Black {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px white;
    box-shadow: -1px 0 30px -10px white; }
  100% {
    -webkit-box-shadow: -1px 0 30px -10px #070708;
    box-shadow: -1px 0 30px -10px #070708; } }

@keyframes colorPickerBlinker-2Black {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px white;
    box-shadow: -1px 0 30px -10px white; }
  100% {
    -webkit-box-shadow: -1px 0 30px -10px #070708;
    box-shadow: -1px 0 30px -10px #070708; } }

/*********************************************************************************/
@-webkit-keyframes title {
  0% {
    visibility: visible;
    -webkit-transform: scale(0, 0) translate(-30%, -50%);
    transform: scale(0, 0) translate(-30%, -50%);
    @media only screen and (max-width: 37.5em) {
      visibility: visible;
      -webkit-transform: scale(0, 0) translate(-50%, -50%);
      transform: scale(0, 0) translate(-50%, -50%); } }
  100% {
    visibility: visible;
    -webkit-transform: scale(1, 1) translate(-30%, -50%);
    transform: scale(1, 1) translate(-30%, -50%);
    @media only screen and (max-width: 37.5em) {
      visibility: visible;
      -webkit-transform: scale(1, 1) translate(-50%, -50%);
      transform: scale(1, 1) translate(-50%, -50%); } } }

@keyframes title {
  0% {
    visibility: visible;
    -webkit-transform: scale(0, 0) translate(-30%, -50%);
    transform: scale(0, 0) translate(-30%, -50%);
    @media only screen and (max-width: 37.5em) {
      visibility: visible;
      -webkit-transform: scale(0, 0) translate(-50%, -50%);
      transform: scale(0, 0) translate(-50%, -50%); } }
  100% {
    visibility: visible;
    -webkit-transform: scale(1, 1) translate(-30%, -50%);
    transform: scale(1, 1) translate(-30%, -50%);
    @media only screen and (max-width: 37.5em) {
      visibility: visible;
      -webkit-transform: scale(1, 1) translate(-50%, -50%);
      transform: scale(1, 1) translate(-50%, -50%); } } }
