*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  background-color: rgba(85, 197, 122, 0.5); }

body {
  width: 100%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif; }

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url("../img/bg-photo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 300; }

.about-section {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url("../img/bg-photo-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 200; }
  @media only screen and (max-width: 37.5em) {
    .about-section {
      padding: 10rem 0;
      height: 100%; } }

.project-section {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url("../img/bg-photo-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 100; }
  @media only screen and (max-width: 37.5em) {
    .project-section {
      padding: 10rem 0;
      height: 100%;
      overflow: scroll; } }

.footer {
  margin-top: 200px; }
  @media only screen and (max-width: 75em) {
    .footer {
      margin-top: 50px; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      margin-top: 200px; } }

menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100vh;
  z-index: 350;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)); }
  @media only screen and (max-width: 56.25em) {
    menu {
      display: none; } }
  @media only screen and (max-width: 37.5em) {
    menu {
      display: none; } }

.center {
  text-align: center;
  font-family: 'Roboto', sans-serif; }
  .center__title {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .center__title {
        font-size: 2.3rem; } }
  .center__sub-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize; }
    @media only screen and (max-width: 37.5em) {
      .center__sub-title {
        font-size: 1.4rem; } }

.about-section--center {
  padding-top: 15rem; }
  @media only screen and (max-width: 37.5em) {
    .about-section--center {
      padding-top: 0; } }
  @media only screen and (max-width: 37.5em) {
    .about-section--center {
      padding-top: 0; } }
  @media only screen and (max-width: 37.5em) {
    .about-section--center {
      padding-top: 0; } }

.social-media {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5%;
  right: 3%; }
  @media only screen and (max-width: 56.25em) {
    .social-media {
      top: 10%;
      right: 5%; } }
  @media only screen and (max-width: 37.5em) {
    .social-media {
      top: 82%;
      right: 10%; } }
  .social-media__link {
    width: inherit;
    height: inherit; }
  .social-media__icon {
    height: inherit;
    width: inherit;
    fill: rgba(127, 255, 0, 0);
    transition: all 0.3s ease-in-out;
    animation: shake 0.2s ease-in-out infinite alternate; }
    @media only screen and (max-width: 75em) {
      .social-media__icon {
        animation: shake-3 0.2s ease-in-out infinite alternate; } }
    @media only screen and (max-width: 56.25em) {
      .social-media__icon {
        animation: shake-3 0.2s ease-in-out infinite alternate; } }
    @media only screen and (max-width: 37.5em) {
      .social-media__icon {
        animation: shake-3 0.2s ease-in-out infinite alternate; } }
    .social-media__icon:hover {
      fill: #7fff00;
      animation: shake 0; }
      @media only screen and (max-width: 75em) {
        .social-media__icon:hover {
          animation: shake-3 0.2s ease-in-out infinite alternate; } }
      @media only screen and (max-width: 56.25em) {
        .social-media__icon:hover {
          animation: shake-3 0.2s ease-in-out infinite alternate; } }
      @media only screen and (max-width: 37.5em) {
        .social-media__icon:hover {
          animation: shake-3 0.2s ease-in-out infinite alternate; } }

.center {
  margin-bottom: 5rem; }
  .center__main-title {
    font-size: 2.1rem;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .center__main-title {
        font-size: 1.7rem; } }
  .center__hr {
    overflow: visible;
    /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #7fff00;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 30%; }
    @media only screen and (max-width: 75em) {
      .center__hr {
        width: 45%; } }
    @media only screen and (max-width: 56.25em) {
      .center__hr {
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .center__hr {
        width: 85%; } }
    .center__hr--project {
      width: 10%; }
      @media only screen and (max-width: 75em) {
        .center__hr--project {
          width: 20%; } }
      @media only screen and (max-width: 56.25em) {
        .center__hr--project {
          width: 25%; } }
      @media only screen and (max-width: 37.5em) {
        .center__hr--project {
          width: 30%; } }
  .center__hr::before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #7fff00;
    border-width: 0 0 1px 0;
    border-radius: 20px; }
  .center__click {
    display: none;
    color: #7fff00;
    animation: blinker 0.2s ease-in-out infinite alternate; }
    @media only screen and (max-width: 75em) {
      .center__click {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 56.25em) {
      .center__click {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .center__click {
        display: inline-block;
        font-size: 0.9rem; } }
  .center__click-2 {
    display: none;
    color: #7fff00;
    animation: blinker 0.2s ease-in-out infinite alternate 0.2s; }
    @media only screen and (max-width: 75em) {
      .center__click-2 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 56.25em) {
      .center__click-2 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .center__click-2 {
        display: inline-block;
        font-size: 0.9rem; } }
  .center__click-3 {
    display: none;
    color: #7fff00;
    animation: blinker 0.2s ease-in-out infinite alternate 0.3s; }
    @media only screen and (max-width: 75em) {
      .center__click-3 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 56.25em) {
      .center__click-3 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .center__click-3 {
        display: inline-block;
        font-size: 0.9rem; } }
  .center__click-4 {
    display: none;
    color: #7fff00;
    animation: blinker 0.2s ease-in-out infinite alternate 0.4s; }
    @media only screen and (max-width: 75em) {
      .center__click-4 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 56.25em) {
      .center__click-4 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .center__click-4 {
        display: inline-block;
        font-size: 0.9rem; } }
  .center__click-5 {
    display: none;
    color: #7fff00;
    animation: blinker 0.2s ease-in-out infinite alternate 0.5s; }
    @media only screen and (max-width: 75em) {
      .center__click-5 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 56.25em) {
      .center__click-5 {
        display: inline-block;
        font-size: 0.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .center__click-5 {
        display: inline-block;
        font-size: 0.9rem; } }

.project-section--center {
  padding-top: 10rem; }
  @media only screen and (max-width: 75em) {
    .project-section--center {
      padding-top: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .project-section--center {
      padding-top: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .project-section--center {
      padding-top: 0; } }

.bio-box {
  font-family: 'Roboto', sans-serif;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(to right, rgba(40, 180, 133, 0.5), rgba(40, 180, 133, 0.5));
  border-radius: 10px;
  -webkit-box-shadow: -1px 0 30px -10px #80ff00;
  -moz-box-shadow: -1px 0 30px -10px #80ff00;
  box-shadow: -1px 0 30px -10px #80ff00;
  animation: blinker-2 2s ease-in-out infinite alternate; }
  @media only screen and (max-width: 75em) {
    .bio-box {
      width: 90%; } }
  @media only screen and (max-width: 56.25em) {
    .bio-box {
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .bio-box {
      width: 90%; } }
  .bio-box__name {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .bio-box__name {
        font-size: 1.4rem; } }
  .bio-box__state {
    animation: blinker 0.2s ease-in-out infinite alternate 0.2s; }
  .bio-box__location {
    font-size: 1rem;
    color: #7fff00;
    margin-bottom: 1.5rem;
    animation: blinker 0.2s ease-in-out infinite alternate 0.1s; }
    @media only screen and (max-width: 37.5em) {
      .bio-box__location {
        font-size: 0.9rem; } }
  .bio-box__icon {
    width: 12px;
    height: 12px;
    fill: #7fff00;
    margin-right: 0.2rem;
    animation: blinker 0.2s ease-in-out infinite alternate; }
    @media only screen and (max-width: 37.5em) {
      .bio-box__icon {
        font-size: 1rem; } }
  .bio-box__paragraph {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .bio-box__paragraph {
        font-size: 1rem; } }
  .bio-box__skills {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .bio-box__skills {
        justify-content: center;
        width: 90; } }
    @media only screen and (max-width: 37.5em) {
      .bio-box__skills {
        justify-content: center;
        width: 90; } }
  .bio-box__html {
    color: #fff;
    background-color: rgba(127, 255, 0, 0.5);
    padding: 10px 30px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 30px; }
    .bio-box__html:hover {
      background-color: rgba(127, 255, 0, 0.8);
      animation: shake-2 0.2s ease-in-out 3 alternate; }
      @media only screen and (max-width: 37.5em) {
        .bio-box__html:hover {
          animation: 0; } }
  .bio-box__css {
    color: #fff;
    background-color: rgba(127, 255, 0, 0.5);
    padding: 10px 30px;
    border-radius: 10px;
    position: relative;
    cursor: pointer; }
    .bio-box__css:hover {
      background-color: rgba(127, 255, 0, 0.8);
      animation: shake-2 0.2s ease-in-out 3 alternate; }
      @media only screen and (max-width: 37.5em) {
        .bio-box__css:hover {
          animation: 0; } }

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 20px;
  max-width: 70rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      width: 90%; } }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .wrapper {
      grid-template-columns: 1fr;
      grid-row-gap: 140px;
      width: 90%;
      margin-bottom: 50px; } }
  .wrapper__items {
    animation: blinker-2 2s ease-in-out infinite alternate; }
    @media only screen and (max-width: 37.5em) {
      .wrapper__items {
        height: 130%;
        -webkit-box-shadow: -1px 0 30px -10px #80ff00;
        -moz-box-shadow: -1px 0 30px -10px #80ff00;
        box-shadow: -1px 0 30px -10px #80ff00; } }
    .wrapper__items:hover {
      transform: scale3d(0, 10px, 0); }
      @media only screen and (max-width: 75em) {
        .wrapper__items:hover {
          animation: 0; } }
      @media only screen and (max-width: 56.25em) {
        .wrapper__items:hover {
          animation: 0; } }
      @media only screen and (max-width: 37.5em) {
        .wrapper__items:hover {
          animation: 0; } }
    .wrapper__items:hover > .wrapper__info {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0); }
  .wrapper__items--1 {
    background-image: url("https://cdn.dribbble.com/users/2146089/screenshots/6791385/landing_app_f.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
  .wrapper__items--2 {
    background-image: url("https://cdn.dribbble.com/users/702789/screenshots/6373671/erik4.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
  .wrapper__items--3 {
    background-image: url("https://cdn.dribbble.com/users/702789/screenshots/6988501/media/754450279893937161016df689828c12.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
  .wrapper__items--4 {
    background-image: url("https://cdn.dribbble.com/users/702789/screenshots/6821527/preview.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
  .wrapper__info {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    height: 100%;
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    transform: translate3d(0, 50px, 0);
    transition: all 0.4s ease-in-out 0.1s;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden; }
  .wrapper__title {
    text-align: center;
    font-size: 1.2rem; }
  .wrapper__button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto; }
    .wrapper__button-container--project {
      background-color: rgba(127, 255, 0, 0.5);
      padding: 10px 25px;
      border-radius: 10px;
      position: relative;
      cursor: pointer; }
      .wrapper__button-container--project:hover {
        background-color: rgba(127, 255, 0, 0.8);
        animation: shake-2 0.2s ease-in-out 3 alternate; }
    .wrapper__button-container--code {
      background-color: rgba(127, 255, 0, 0.5);
      padding: 10px 25px;
      border-radius: 10px;
      position: relative;
      cursor: pointer; }
      .wrapper__button-container--code:hover {
        background-color: rgba(127, 255, 0, 0.8);
        animation: shake-2 0.2s ease-in-out 3 alternate; }

.footer__text {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .footer__text {
      font-size: 1rem; } }

.footer__copywrite {
  color: #7fff00;
  animation: blinker 0.2s ease-in-out infinite alternate; }

.footer__first-name {
  color: #7fff00;
  animation: blinker 0.2s ease-in-out infinite alternate 0.1s; }

.footer__last-name {
  color: #7fff00;
  animation: blinker 0.2s ease-in-out infinite alternate 0.2s; }

.sidebar {
  width: 10%;
  height: 100vh; }
  .sidebar__list {
    display: block;
    margin-left: 400%; }
    .sidebar__list:first-child {
      padding-top: 80px; }
    .sidebar__list:not(:last-child) {
      margin-bottom: 50px; }
  .sidebar__link {
    width: 30px;
    height: 30px; }
  .sidebar__icon {
    width: inherit;
    height: inherit;
    fill: #7fff00; }
    .sidebar__icon:hover {
      animation: 0; }
  .sidebar__icon-1 {
    animation: blinker 0.2s ease-in-out infinite alternate; }
  .sidebar__icon-2 {
    animation: blinker 0.2s ease-in-out infinite alternate 0.1s; }
  .sidebar__icon-3 {
    animation: blinker 0.2s ease-in-out infinite alternate 0.2s; }

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 340;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)); }
  .mobile-menu:after {
    display: table;
    content: "";
    clear: both; }
  @media only screen and (max-width: 56.25em) {
    .mobile-menu {
      display: inline-block; } }
  @media only screen and (max-width: 37.5em) {
    .mobile-menu {
      display: inline-block; } }
  .mobile-menu__logo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    color: #fff;
    margin-top: 0.1rem; }
  .mobile-menu__menu {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-top: 0.2rem;
    margin-right: 1rem; }
  .mobile-menu__icon {
    width: 30px;
    height: 30px;
    fill: #7fff00; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

@keyframes shake {
  0% {
    transform: translateX(10px); }
  100% {
    fill: #7fff00;
    transform: translateX(-10px); } }

@keyframes shake-2 {
  0% {
    transform: translateY(10px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(10px); } }

@keyframes shake-3 {
  0% {
    fill: rgba(127, 255, 0, 0.1); }
  100% {
    fill: #7fff00; } }

@keyframes blinker {
  0% {
    color: rgba(127, 255, 0, 0);
    fill: rgba(127, 255, 0, 0); }
  100% {
    color: #7fff00;
    fill: #7fff00; } }

@keyframes blinker-2 {
  0% {
    box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 0); }
  100% {
    box-shadow: -1px 0 30px -10px #80ff00; } }
