// Shake
// Safari
@-webkit-keyframes shake {
  0% {
    fill: rgba($color-primary-sky-blue-light, .0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    fill: $color-primary-sky-blue-dark;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
// Safari
@keyframes shake {
  0% {
    fill: rgba($color-primary-sky-blue-light, .0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    fill: $color-primary-sky-blue-dark;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
// Color Picker
// Green
// Safari
@-webkit-keyframes colorPickerShakeGreen {
  0% {
    fill: rgba($color-secondary-light, .0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    fill: $color-secondary-light;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
// Safari
@keyframes colorPickerShakeGreen {
  0% {
    fill: rgba($color-secondary-light, .0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    fill: $color-secondary-light;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
// Purple
// Safari
@-webkit-keyframes colorPickerShakePurple {
  0% {
    fill: rgba($color-primary-purple-light, .0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    fill: $color-primary-purple-dark;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
// Safari
@keyframes colorPickerShakePurple {
  0% {
    fill: rgba($color-primary-purple-light, .0);
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    fill: $color-primary-purple-dark;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
/*********************************************************************************/
// Shake-3
// Safari
@-webkit-keyframes shake-3 {
  0% {
    fill: rgba($color-primary-sky-blue-light, .1);
  }

  100% {
    fill: $color-primary-sky-blue-dark;
  }
}
// Safari
@keyframes shake-3 {
  0% {
    fill: rgba($color-primary-sky-blue-light, .1);
  }

  100% {
    fill: $color-primary-sky-blue-dark;
  }
}
// Color Picker
// Green
// Safari
@-webkit-keyframes colorPickerShake-3Green {
  0% {
    fill: rgba($color-secondary-light, .1);
  }

  100% {
    fill: $color-secondary-light;
  }
}
// Safari
@keyframes colorPickerShake-3Green {
  0% {
    fill: rgba($color-secondary-light, .1);
  }

  100% {
    fill: $color-secondary-light;
  }
}
// Purple
// Safari
@-webkit-keyframes colorPickerShake-3Purple {
  0% {
    fill: rgba($color-primary-purple-light, .1);
  }

  100% {
    fill: $color-primary-purple-dark;
  }
}
// Safari
@keyframes colorPickerShake-3Purple {
  0% {
    fill: rgba($color-primary-purple-light, .1);
  }

  100% {
    fill: $color-primary-purple-dark;
  }
}
/*********************************************************************************/
// Blinker
// Safari
@-webkit-keyframes blinker {
  0% {
    color: #fff;
    fill: #fff;
  }

  100% {
    color: $color-primary-sky-blue-dark;
    fill: $color-primary-sky-blue-dark;
  }
}
// Safari
@keyframes blinker {
  0% {
    color: #fff;
    fill: #fff;
  }

  100% {
    color: $color-primary-sky-blue-dark;
    fill: $color-primary-sky-blue-dark;
  }
}
// Color Picker
// Green
// Safari
@-webkit-keyframes colorPickerBlinkerGreen {
  0% {
    color: #fff;
    fill: #fff;
  }

  100% {
    color: $color-secondary-light;
    fill: $color-secondary-light;
  }
}
// Safari
@keyframes colorPickerBlinkerGreen {
  0% {
    color: #fff;
    fill: #fff;
  }

  100% {
    color: $color-secondary-light;
    fill: $color-secondary-light;
  }
}
// Purple
// Safari
@-webkit-keyframes colorPickerBlinkerPurple {
  0% {
    color: #fff;
    fill: #fff;
  }

  100% {
    color: $color-primary-purple-dark;
    fill: $color-primary-purple-dark;
  }
}
// Safari
@keyframes colorPickerBlinkerPurple {
  0% {
    color: #fff;
    fill: #fff;
  }

  100% {
    color: $color-primary-purple-dark;
    fill: $color-primary-purple-dark;
  }
}
/*********************************************************************************/
// Blinker-2
// Safari
@-webkit-keyframes blinker-2 {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
    box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
  }

  100% {
    -webkit-box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
    box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
  }
}
// Safari
@keyframes blinker-2 {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
    box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
  }

  100% {
    -webkit-box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
    box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
  }
}
// Color Picker
// Green
// Safari
@-webkit-keyframes colorPickerBlinker-2Green {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
    box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
  }

  100% {
    -webkit-box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 1);
    box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 1);
  }
}
// Safari
@keyframes colorPickerBlinker-2Green {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
    box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
  }

  100% {
    -webkit-box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 1);
    box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 1);
  }
}
// Purple
// Safari
@-webkit-keyframes colorPickerBlinker-2Purple {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
    box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
  }

  100% {
    -webkit-box-shadow: -1px 0 30px -10px rgba(255, 51, 255, 1);
    box-shadow: -1px 0 30px -10px rgba(7255, 51, 255, 1);
  }
}
// Safari
@keyframes colorPickerBlinker-2Purple {
  0% {
    -webkit-box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
    box-shadow: -1px 0 30px -10px rgb(255, 255, 255);
  }

  100% {
    -webkit-box-shadow: -1px 0 30px -10px rgba(255, 51, 255, 1);
    box-shadow: -1px 0 30px -10px rgba(7255, 51, 255, 1);
  }
}
/*********************************************************************************/
// Title
// Safari
@-webkit-keyframes title {
  0% {
    visibility: visible;
    -webkit-transform: scale(0, 0) translate(-30%, -50%);
    transform: scale(0, 0) translate(-30%, -50%);
    @include respond(phone) {
      visibility: visible;
      -webkit-transform: scale(0, 0) translate(-50%, -50%);
      transform: scale(0, 0) translate(-50%, -50%);
    }
  }

  100% {
    visibility: visible;
    -webkit-transform: scale(1, 1) translate(-30%, -50%);
    transform: scale(1, 1) translate(-30%, -50%);
    @include respond(phone) {
      visibility: visible;
      -webkit-transform: scale(1, 1) translate(-50%, -50%);
      transform: scale(1, 1) translate(-50%, -50%);
    }
  }
}
// Safari
@keyframes title {
  0% {
    visibility: visible;
    -webkit-transform: scale(0, 0) translate(-30%, -50%);
    transform: scale(0, 0) translate(-30%, -50%);
    @include respond(phone) {
      visibility: visible;
      -webkit-transform: scale(0, 0) translate(-50%, -50%);
      transform: scale(0, 0) translate(-50%, -50%);
    }
  }

  100% {
    visibility: visible;
    -webkit-transform: scale(1, 1) translate(-30%, -50%);
    transform: scale(1, 1) translate(-30%, -50%);
    @include respond(phone) {
      visibility: visible;
      -webkit-transform: scale(1, 1) translate(-50%, -50%);
      transform: scale(1, 1) translate(-50%, -50%);
    }
  }
}