// Base

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: rgba($color-primary, .5);
}

body {
  width: 100%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
}