// Center container

.center {
  text-align: center;
  font-family: 'Roboto', sans-serif;

  &__title {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    @include respond(phone) {
      font-size: 2.3rem;
    }
  }

  &__sub-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &--top-section {
    visibility: hidden;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: title 0.3s ease-in-out forwards 1.5s;
    animation: title 0.3s ease-in-out forwards 1.5s;
    @include respond(tab-port) {
      width: 100%;
      left: 30%;
    }
    @include respond(phone) {
      width: 100%;
      left: 30%;
    }
  }
}

.about-section--center {
  padding-top: 15rem;
  @include respond(tab-land) {
    padding-top: 0;
  }
  @include respond(tab-port) {
    padding-top: 0;
  }
  @include respond(phone) {
    padding-top: 0;
  }
}
// Social media link

.social-media {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5%;
  right: 3%;
  @include respond(tab-port) {
    top: 14%;
    right: 3%;
  }
  @include respond(phone) {
    top: 82%;
    right: 3%;
  }

  &__link {
    width: inherit;
    height: inherit;
  }

  &__icon {
    height: inherit;
    width: inherit;
    fill: rgba($color-secondary-light, 0);
    transition: all 0.3s ease-in-out;
    -webkit-animation: shake 0.2s ease-in-out infinite alternate;
    animation: shake 0.2s ease-in-out infinite alternate;
    @include respond(tab-land) {
      -webkit-animation: shake-3 0.2s ease-in-out infinite alternate;
      animation: shake-3 0.2s ease-in-out infinite alternate;
    }
    @include respond(tab-port) {
      -webkit-animation: shake-3 0.2s ease-in-out infinite alternate;
      animation: shake-3 0.2s ease-in-out infinite alternate;
    }
    @include respond(phone) {
      -webkit-animation: shake-3 0.2s ease-in-out infinite alternate;
      animation: shake-3 0.2s ease-in-out infinite alternate;
    }

    &:hover {
      fill: $color-secondary-light;
      -webkit-animation: shake 0;
      animation: shake 0;
      @include respond(tab-land) {
        -webkit-animation: shake-3 0.2s ease-in-out infinite alternate;
        animation: shake-3 0.2s ease-in-out infinite alternate;
      }
      @include respond(tab-port) {
        -webkit-animation: shake-3 0.2s ease-in-out infinite alternate;
        animation: shake-3 0.2s ease-in-out infinite alternate;
      }
      @include respond(phone) {
        -webkit-animation: shake-3 0.2s ease-in-out infinite alternate;
        animation: shake-3 0.2s ease-in-out infinite alternate;
      }
    }
  }
}
// Center container

.center {
  margin-bottom: 5rem;

  &__main-title {
    font-size: 2.1rem;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 1rem;
    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  &__hr {
    overflow: visible;
    /* For IE */
    height: 30px;
    border-style: solid;
    border-color: $color-secondary-light;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 30%;
    @include respond(tab-land) {
      width: 45%;
    }
    @include respond(tab-port) {
      width: 60%;
    }
    @include respond(phone) {
      width: 85%;
    }

    &--project {
      width: 10%;
      @include respond(tab-land) {
        width: 20%;
      }
      @include respond(tab-port) {
        width: 25%;
      }
      @include respond(phone) {
        width: 30%;
      }
    }
  }

  &__hr::before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: $color-secondary-light;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }
  // Click on projects
  &__click {
    display: none;
    color: $color-secondary-light;
    -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.2s;
    animation: blinker 0.2s ease-in-out infinite alternate 0.2s;
    @include respond(tab-land) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(phone) {
      display: inline-block;
      font-size: 0.9rem;
    }
  }

  &__click-2 {
    display: none;
    color: $color-secondary-light;
    -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.3s;
    animation: blinker 0.2s ease-in-out infinite alternate 0.3s;
    @include respond(tab-land) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(phone) {
      display: inline-block;
      font-size: 0.9rem;
    }
  }

  &__click-3 {
    display: none;
    color: $color-secondary-light;
    -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.4s;
    animation: blinker 0.2s ease-in-out infinite alternate 0.4s;
    @include respond(tab-land) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(phone) {
      display: inline-block;
      font-size: 0.9rem;
    }
  }

  &__click-4 {
    display: none;
    color: $color-secondary-light;
    -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.5s;
    animation: blinker 0.2s ease-in-out infinite alternate 0.5s;
    @include respond(tab-land) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(phone) {
      display: inline-block;
      font-size: 0.9rem;
    }
  }

  &__click-5 {
    display: none;
    color: $color-secondary-light;
    -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.6s;
    animation: blinker 0.2s ease-in-out infinite alternate 0.6s;
    @include respond(tab-land) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(phone) {
      display: inline-block;
      font-size: 0.9rem;
    }
  }
}

.project-section--center {
  padding-top: 17rem;
  @include respond(tab-land) {
    padding-top: 5rem;
  }
  @include respond(tab-port) {
    padding-top: 2rem;
  }
  @include respond(phone) {
    padding-top: 0;
  }
}
// Bio box

.bio-box {
  font-family: 'Roboto', sans-serif;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(to right, rgba($color-primary-dark, .5), rgba($color-primary-dark, .5));
  border-radius: 10px;
  -webkit-box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 1);
  -moz-box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 1);
  box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 1);
  -webkit-animation: blinker-2 2s ease-in-out infinite alternate;
  animation: blinker-2 2s ease-in-out infinite alternate;
  @include respond(tab-land) {
    width: 90%;
  }
  @include respond(tab-port) {
    width: 90%;
  }
  @include respond(phone) {
    width: 90%;
    padding: 1rem;
  }

  &__name {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__state {
    -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.4s;
    animation: blinker 0.2s ease-in-out infinite alternate 0.4s;
  }

  &__location {
    font-size: 1rem;
    color: $color-secondary-light;
    margin-bottom: 1.5rem;
    -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.3s;
    animation: blinker 0.2s ease-in-out infinite alternate 0.3s;
    @include respond(phone) {
      font-size: 0.9rem;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    fill: $color-secondary-light;
    margin-right: 0.2rem;
    -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.2s;
    animation: blinker 0.2s ease-in-out infinite alternate 0.2s;
    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &__paragraph {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &__skills {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto;
    @include respond(tab-land) {
      justify-content: center;
      width: 90;
    }
    @include respond(tab-port) {
      justify-content: center;
      width: 90;
    }
    @include respond(phone) {
      justify-content: center;
      width: 90;
    }
  }

  &__html {
    color: #fff;
    background-color: rgba($color-secondary-light, .5);
    padding: 10px 30px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 30px;

    &:hover {
      background-color: rgba($color-secondary-light, .8);
      -webkit-animation: shake-2 0.2s ease-in-out 3 alternate;
      animation: shake-2 0.2s ease-in-out 3 alternate;
      @include respond(phone) {
        -webkit-animation: 0;
        animation: 0;
      }
    }
  }

  &__css {
    color: #fff;
    background-color: rgba($color-secondary-light, .5);
    padding: 10px 30px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: rgba($color-secondary-light, .8);
      -webkit-animation: shake-2 0.2s ease-in-out 3 alternate;
      animation: shake-2 0.2s ease-in-out 3 alternate;
      @include respond(phone) {
        -webkit-animation: 0;
        animation: 0;
      }
    }
  }
}
// Wrapper

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 20px;
  max-width: 70rem;
  margin: 0 auto;
  @include respond(tab-land) {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-row-gap: 140px;
    width: 90%;
    margin-bottom: 50px;
  }

  &__items {
    -webkit-animation: blinker-2 2s ease-in-out infinite alternate;
    animation: blinker-2 2s ease-in-out infinite alternate;
    @include respond(phone) {
      height: 130%;
      -webkit-box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 1);
      -moz-box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 1);
      box-shadow: -1px 0 30px -10px rgba(128, 255, 0, 1);
    }

    &:hover {
      transform: scale3d(0, 10px, 0);
      @include respond(tab-land) {
        -webkit-animation: 0;
        animation: 0;
      }
      @include respond(tab-port) {
        -webkit-animation: 0;
        animation: 0;
      }
      @include respond(phone) {
        -webkit-animation: 0;
        animation: 0;
      }
    }

    &:hover > .wrapper__info {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }

  &__items--1 {
    background-image: url("../img/project-img-1.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  &__items--2 {
    background-image: url("../img/project-img-2.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  &__items--3 {
    background-image: url("../img/project-img-3.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  &__items--4 {
    background-image: url("../img/project-img-4.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  &__info {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    height: 100%;
    background-image: linear-gradient(to right, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    transform: translate3d(0, 50px,0);
    transition: all 0.4s ease-in-out 0.1s;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;

    &__link {
      color: #fff;
      text-decoration: none;
    }
  }

  &__title {
    text-align: center;
    font-size: 1.2rem;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;

    &--project {
      color: #fff;
      text-decoration: none;
      background-color: rgba($color-secondary-light, .5);
      padding: 10px 25px;
      border-radius: 10px;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: rgba($color-secondary-light, .8);
        -webkit-animation: shake-2 0.2s ease-in-out 3 alternate;
        animation: shake-2 0.2s ease-in-out 3 alternate;
      }
    }

    &--code {
      color: #fff;
      text-decoration: none;
      background-color: rgba($color-secondary-light, .5);
      padding: 10px 25px;
      border-radius: 10px;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: rgba($color-secondary-light, .8);
        -webkit-animation: shake-2 0.2s ease-in-out 3 alternate;
        animation: shake-2 0.2s ease-in-out 3 alternate;
      }
    }
  }
}
// Copywriter

.footer__text {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  @include respond(phone) {
    font-size: 1rem;
  }
}

.footer__copywrite {
  color: $color-secondary-light;
  -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.2s;
  animation: blinker 0.2s ease-in-out infinite alternate 0.2s;
}

.footer__first-name {
  color: $color-secondary-light;
  -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.3s;
  animation: blinker 0.2s ease-in-out infinite alternate 0.3s;
}

.footer__last-name {
  color: $color-secondary-light;
  -webkit-animation: blinker 0.2s ease-in-out infinite alternate 0.4s;
  animation: blinker 0.2s ease-in-out infinite alternate 0.4s;
}
// Sidebar

.sidebar {
  width: 10%;
  height: 100vh;

  &__list {
    display: block;
    margin-left: 400%;
    @include respond(tab-port) {
      margin-left: 300%;
    }
    @include respond(phone) {
      margin-left: 300%;
    }

    &:first-child {
      padding-top: 80px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__link {
    width: 30px;
    height: 30px;
    @include respond(phone) {
      width: 22px;
      height: 22px;
    }
  }

  &__icon {
    width: inherit;
    height: inherit;
    fill: $color-secondary-light;

    &:hover {
      -webkit-animation: 0;
      animation: 0;
    }
  }

  &__icon-1 {
    -webkit-animation: blinker 0.3s ease-in-out infinite alternate;
    animation: blinker 0.3s ease-in-out infinite alternate;
  }

  &__icon-2 {
    -webkit-animation: blinker 0.3s ease-in-out infinite alternate 0.1s;
    animation: blinker 0.3s ease-in-out infinite alternate 0.1s;
  }

  &__icon-3 {
    -webkit-animation: blinker 0.3s ease-in-out infinite alternate 0.2s;
    animation: blinker 0.3s ease-in-out infinite alternate 0.2s;
  }
}
// Mobile menu

.mobile-menu {
  display: none;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 500;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, .4), rgba($color-primary-dark, .4));
  @include clearFix;
  @include respond(tab-port) {
    display: inline-block;
  }
  @include respond(phone) {
    display: inline-block;
  }

  &__logo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    margin-top: 0.1rem;
    margin-left: 2.5rem;
  }

  &__menu {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-top: 0.2rem;
    margin-right: 1rem;
  }

  &__icon {
    width: 30px;
    height: 30px;
    fill: $color-secondary-light;
    @include respond(phone) {
      width: 22px;
      height: 22px;
      margin-top: 0.3rem;
    }
  }
}