// Center container

.center {
  text-align: center;
  font-family: 'Roboto', sans-serif;

  &__title {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    @include respond(phone) {
      font-size: 2.3rem;
    }
  }

  &__sub-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &--top-section {
    visibility: hidden;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: title 0.3s ease-in-out forwards 1.5s;
    animation: title 0.3s ease-in-out forwards 1.5s;
    @include respond(tab-port) {
      width: 100%;
      left: 30%;
    }
    @include respond(phone) {
      width: 100%;
      left: 30%;
    }
  }
}
// Social media link

.social-media {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5%;
  right: 3%;
  @include respond(tab-port) {
    top: 14%;
    right: 3%;
  }
  @include respond(phone) {
    top: 82%;
    right: 3%;
  }

  &__link {
    width: inherit;
    height: inherit;
  }

  &__icon {
    height: inherit;
    width: inherit;
    fill: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      fill: $color-primary-sky-blue-dark;
      transform: scale(1.3, 1.3);

      &.green {
        fill: $color-secondary-light;
        transform: scale(1.3, 1.3);
      }

      &.purple {
        fill: $color-primary-purple-dark;
        transform: scale(1.3, 1.3);
      }
    }
  }
}
// Center container

.center {
  margin-bottom: 5rem;

  &__main-title {
    font-size: 2.1rem;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 1rem;
    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  &__hr {
    overflow: visible;
    /* For IE */
    height: 30px;
    border-style: solid;
    border-color: $color-primary-sky-blue-dark;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 30%;

    &.green {
      border-color: $color-secondary-light;
    }

    &.purple {
      border-color: $color-primary-purple-dark;
    }
    @include respond(tab-land) {
      width: 45%;
    }
    @include respond(tab-port) {
      width: 60%;
    }
    @include respond(phone) {
      width: 85%;
    }

    &--project {
      width: 10%;
      @include respond(tab-land) {
        width: 20%;
      }
      @include respond(tab-port) {
        width: 25%;
      }
      @include respond(phone) {
        width: 30%;
      }
    }
  }

  &__hr-2 {
    overflow: visible;
    /* For IE */
    height: 30px;
    margin-top: -65px;
    border-style: solid;
    border-color: $color-primary-sky-blue-dark;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    width: 30%;

    &.green {
      border-color: $color-secondary-light;
    }

    &.purple {
      border-color: $color-primary-purple-dark;
    }
    @include respond(tab-land) {
      width: 45%;
    }
    @include respond(tab-port) {
      width: 60%;
    }
    @include respond(phone) {
      width: 85%;
    }

    &--project {
      width: 10%;
      margin-top: -66px;
      @include respond(tab-land) {
        width: 20%;
      }
      @include respond(tab-port) {
        width: 25%;
      }
      @include respond(phone) {
        width: 30%;
      }
    }
  }
  // Click on projects notice
  &__click {
    display: none;
    color: $color-primary-sky-blue-dark;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate;
    animation: blinker 0.5s ease-in-out infinite alternate;

    &.green {
      color: $color-secondary-light;
      -webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate;
      animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate;
    }

    &.purple {
      -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate;
      animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate;
    }
    @include respond(tab-land) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(phone) {
      display: inline-block;
      font-size: 0.9rem;
    }
  }

  &__click-2 {
    display: none;
    color: $color-primary-sky-blue-dark;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.2s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.2s;

    &.green {
      color: $color-secondary-light;
      -webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.2s;
      animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.2s;
    }

    &.purple {
      color: $color-primary-purple-dark;
      -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.2s;
      animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.2s;
    }
    @include respond(tab-land) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(phone) {
      display: inline-block;
      font-size: 0.9rem;
    }
  }

  &__click-3 {
    display: none;
    color: $color-primary-sky-blue-dark;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.3s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.3s;

    &.green {
      color: $color-secondary-light;
      -webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.3s;
      animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.3s;
    }

    &.purple {
      -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.3s;
      animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.3s;
    }
    @include respond(tab-land) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(phone) {
      display: inline-block;
      font-size: 0.9rem;
    }
  }

  &__click-4 {
    display: none;
    color: $color-primary-sky-blue-dark;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.4s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.4s;

    &.green {
      color: $color-secondary-light;
      -webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.4s;
      animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.4s;
    }

    &.purple {
      -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.4s;
      animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.4s;
    }
    @include respond(tab-land) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(phone) {
      display: inline-block;
      font-size: 0.9rem;
    }
  }

  &__click-5 {
    display: none;
    color: $color-primary-sky-blue-dark;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.5s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.5s;

    &.green {
      color: $color-secondary-light;
      -webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.5s;
      animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.5s;
    }

    &.purple {
      -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.5s;
      animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.5s;
    }
    @include respond(tab-land) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      display: inline-block;
      font-size: 0.9rem;
    }
    @include respond(phone) {
      display: inline-block;
      font-size: 0.9rem;
    }
  }
}
// About center

.about-section--center {
  padding-top: 15rem;
  @include respond(laptop) {
    margin-bottom: 3rem;
  }
  @include respond(tab-land) {
    padding-top: 0;
  }
  @include respond(tab-port) {
    padding-top: 0;
  }
  @include respond(phone) {
    padding-top: 0;
  }
}
// Bio box

.bio-box {
  font-family: 'Roboto', sans-serif;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  background-image: linear-gradient(135deg, rgba($color-secondary-sky-blue, .5) 50%, rgba($color-secondary-sky-blue, .5) 100%);
  border-radius: 10px;
  -webkit-box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
  -moz-box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
  box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
  -webkit-animation: blinker-2 1s ease-in-out infinite alternate;
  animation: blinker-2 1s ease-in-out infinite alternate;

  &.green {
    background-image: linear-gradient(135deg, rgba($color-primary-dark, .5) 50%, rgba($color-primary-dark, .5) 100%);
    -webkit-animation: colorPickerBlinker-2Green 1s ease-in-out infinite alternate;
    animation: colorPickerBlinker-2Green 1s ease-in-out infinite alternate;
  }

  &.purple {
    background-image: linear-gradient(135deg, rgba($color-secondary-purple, .5) 50%, rgba($color-secondary-purple, .5) 100%);
    -webkit-animation: colorPickerBlinker-2Purple 1s ease-in-out infinite alternate;
    animation: colorPickerBlinker-2Purple 1s ease-in-out infinite alternate;
  }
  @include respond(tab-land) {
    width: 90%;
  }
  @include respond(tab-port) {
    width: 90%;
  }
  @include respond(phone) {
    width: 90%;
    padding: 1rem;
  }

  &__name {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__state {
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.3s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.3s;

    &.green {
      -webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.3s;
      animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.3s;
    }

    &.purple {
      -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.3s;
      animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.3s;
    }
  }

  &__location {
    font-size: 1rem;
    color: $color-primary-sky-blue-dark;
    margin-bottom: 1.5rem;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.2s;
    animation: blinker 0.5s ease-in-out infinite alternate 0.2s;

    &.green {
      -webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.2s;
      animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.2s;
    }

    &.purple {
      -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.2s;
      animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.2s;
    }
    @include respond(phone) {
      font-size: 0.9rem;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    fill: $color-primary-sky-blue-dark;
    margin-right: 0.2rem;
    -webkit-animation: blinker 0.5s ease-in-out infinite alternate;
    animation: blinker 0.5s ease-in-out infinite alternate;

    &.green {
      -webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate;
      animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate;
    }

    &.purple {
      -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate;
      animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate;
    }
    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &__paragraph {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &__skills {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto;
    @include respond(tab-land) {
      justify-content: center;
      width: 90;
    }
    @include respond(tab-port) {
      justify-content: center;
      width: 90;
    }
    @include respond(phone) {
      justify-content: center;
      width: 90;
    }
  }

  &__html {
    color: #fff;
    background-color: rgba($color-primary-sky-blue-dark, .5);
    padding: 10px 30px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
    transition: all 0.3s ease-in-out;

    &.green {
      background-color: rgba($color-secondary-light, .5);
    }

    &.purple {
      background-color: rgba($color-primary-purple-dark, .5);
    }

    &:hover {
      fill: $color-primary-sky-blue-dark;
      transform: scale(1.08, 1.08);

      &.green {
        fill: $color-secondary-light;
        transform: scale(1.1, 1.1);
      }

      &.purple {
        fill: $color-primary-purple-dark;
        transform: scale(1.1, 1.1);
      }
    }
  }

  &__css {
    color: #fff;
    background-color: rgba($color-primary-sky-blue-dark, .5);
    padding: 10px 35px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.green {
      background-color: rgba($color-secondary-light, .5);
    }

    &.purple {
      background-color: rgba($color-primary-purple-dark, .5);
    }

    &:hover {
      fill: $color-primary-sky-blue-dark;
      transform: scale(1.08, 1.08);

      &.green {
        fill: $color-secondary-light;
        transform: scale(1.1, 1.1);
      }

      &.purple {
        fill: $color-primary-purple-dark;
        transform: scale(1.1, 1.1);
      }
    }
  }
}
// Project center

.project-section--center {
  padding-top: 17rem;
  @include respond(laptop) {
    margin-bottom: 1rem;
  }
  @include respond(tab-land) {
    padding-top: 18rem;
    margin-bottom: 2.5rem;
  }
  @include respond(tab-port) {
    padding-top: 2rem;
  }
  @include respond(phone) {
    padding-top: 0;
  }
}
// Wrapper

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: 320px;
  grid-gap: 20px;
  max-width: 80rem;
  margin: 0 auto;
  @include respond(laptop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 310px 310px;
    grid-gap: 10px;
    max-width: 70rem;
  }
  @include respond(tab-land) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 290px);
    grid-gap: 10px;
    width: 90%;
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 310px);
    width: 90%;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 320px);
    grid-row-gap: 140px;
    width: 90%;
    margin-bottom: 50px;
  }

  &__items {
    -webkit-box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
    -moz-box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
    box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
    -webkit-animation: blinker-2 1s ease-in-out infinite alternate;
    animation: blinker-2 1s ease-in-out infinite alternate;

    &.green {
      -webkit-animation: colorPickerBlinker-2Green 1s ease-in-out infinite alternate;
      animation: colorPickerBlinker-2Green 1s ease-in-out infinite alternate;
    }

    &.purple {
      -webkit-animation: colorPickerBlinker-2Purple 1s ease-in-out infinite alternate;
      animation: colorPickerBlinker-2Purple 1s ease-in-out infinite alternate;
    }
    @include respond(phone) {
      height: 110%;
      -webkit-box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
      -moz-box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);
      box-shadow: -1px 0 30px -10px rgba(77, 203, 255, 1);

      &.green {
        -webkit-animation: colorPickerBlinker-2Green 1s ease-in-out infinite alternate;
        animation: colorPickerBlinker-2Green 1s ease-in-out infinite alternate;
      }

      &.purple {
        -webkit-animation: colorPickerBlinker-2Purple 1s ease-in-out infinite alternate;
        animation: colorPickerBlinker-2Purple 1s ease-in-out infinite alternate;
      }
    }

    &:hover {
      transform: scale3d(0, 10px, 0);

      &.green {
        -webkit-animation: colorPickerBlinker-2Green 1s ease-in-out infinite alternate;
        animation: colorPickerBlinker-2Green 1s ease-in-out infinite alternate;
      }

      &.purple {
        -webkit-animation: colorPickerBlinker-2Purple 1s ease-in-out infinite alternate;
        animation: colorPickerBlinker-2Purple 1s ease-in-out infinite alternate;
      }
      @include respond(tab-land) {
        -webkit-animation: 0;
        animation: 0;

        &.green {
          -webkit-animation: 0;
          animation: 0;
        }

        &.purple {
          -webkit-animation: 0;
          animation: 0;
        }
      }
      @include respond(tab-port) {
        -webkit-animation: 0;
        animation: 0;

        &.green {
          -webkit-animation: 0;
          animation: 0;
        }

        &.purple {
          -webkit-animation: 0;
          animation: 0;
        }
      }
      @include respond(phone) {
        -webkit-animation: 0;
        animation: 0;

        &.green {
          -webkit-animation: 0;
          animation: 0;
        }

        &.purple {
          -webkit-animation: 0;
          animation: 0;
        }
      }
    }

    &:hover > .wrapper__info {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
      @include respond(tab-land) {
        opacity: 0;
        visibility: hidden;
      }
      @include respond(tab-port) {
        opacity: 0;
        visibility: hidden;
      }
      @include respond(phone) {
        opacity: 0;
        visibility: hidden;
      }
    }
    // Active class for touch devices
    &.active > .wrapper__info {
      @include respond(tab-land) {
        opacity: 1;
        visibility: visible;
      }
      @include respond(tab-port) {
        opacity: 1;
        visibility: visible;
      }
      @include respond(phone) {
        opacity: 1;
        visibility: visible;
      }
    }
    // Active class for touch devices
  }
  // Info boxes
  &__info {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    height: 100%;
    background-image: linear-gradient(to right, rgba($color-primary-sky-blue-light, .9), rgba($color-primary-sky-blue-dark, .9));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    transform: translate3d(0, 50px,0);
    transition: all 0.4s ease-in-out 0.1s;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;

    &.green {
      background-image: linear-gradient(to right, rgba($color-primary-light, .9), rgba($color-primary-dark, .9));
    }

    &.purple {
      background-image: linear-gradient(to right, rgba($color-primary-purple-light, .9), rgba($color-primary-purple-dark, .9));
    }
  }
  // Title
  &__title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }

  &__title--1 {
    margin-bottom: 2rem;
  }

  &__title--2 {
    margin-bottom: 2rem;
  }

  &__title--3 {
    margin-bottom: 2rem;
  }
  // Paragraph
  &__paragraph {
    line-height: 1.2rem;
    margin-bottom: 0.4rem;
  }
  // Buttons
  &__button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 8px auto;
    @include respond(tab-land) {
      width: 50%;
    }
    @include respond(tab-port) {
      width: 60%;
      margin: 10px auto 0;
    }
    @include respond(phone) {
      width: 70%;
      margin: 10px auto 0;
    }
    @include respond(sm-phone) {
      margin: 5px auto 0;
    }

    &--project {
      color: #fff;
      text-decoration: none;
      background-color: rgba($color-primary-sky-blue-dark, .5);
      padding: 10px 25px;
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &.green {
        background-color: rgba($color-secondary-light, .5);
      }

      &.purple {
        background-color: rgba($color-primary-purple-dark, .5);
      }

      &:hover {
        fill: $color-primary-sky-blue-dark;
        transform: scale(1.08, 1.08);

        &.green {
          fill: $color-secondary-light;
          transform: scale(1.1, 1.1);
        }

        &.purple {
          fill: $color-primary-purple-dark;
          transform: scale(1.1, 1.1);
        }
      }
    }

    &--code {
      color: #fff;
      text-decoration: none;
      background-color: rgba($color-primary-sky-blue-dark, .5);
      padding: 10px 32px;
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &.green {
        background-color: rgba($color-secondary-light, .5);
      }

      &.purple {
        background-color: rgba($color-primary-purple-dark, .5);
      }

      &:hover {
        fill: $color-primary-sky-blue-dark;
        transform: scale(1.08, 1.08);

        &.green {
          fill: $color-secondary-light;
          transform: scale(1.1, 1.1);
        }

        &.purple {
          fill: $color-primary-purple-dark;
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
  // Wrapper item 1
  &__items--1 {
    background-image: url("../img/ebay-email-img.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  // Technologies
  &__technology {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  // Second title
  &__second-title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }

  &__second-title--1 {
    margin-bottom: 2rem;
  }

  &__second-title--2 {
    margin-bottom: 2rem;
  }

  &__second-title--3 {
    margin-bottom: 2rem;
  }
  // Wrapper technologies
  &__wrapper-technologies {
    @include respond(phone) {
      margin-bottom: 2rem;
    }
    @include respond(sm-phone) {
      margin-bottom: 0.5rem;
    }
  }
  // Technology list
  &__list-items {
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 1.5rem;
    @include respond(tab-land) {
      &:not(:last-child) {
        margin-left: 2.4rem;
      }
    }

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  // Wrapper item 2
  &__items--2 {
    background-image: url("../img/broward-email-img.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  // Wrapper item 3
  &__items--3 {
    background-image: url("../img/beatson.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  // Wrapper item 4
  &__items--4 {
    background-image: url("../img/castle-care.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  // Wrapper item 5
  &__items--5 {
    background-image: url("../img/codingphaseclone-img.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
}
// Copywriter

.footer__text {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  @include respond(phone) {
    font-size: 1rem;
  }
}

.footer__copywrite {
  color: $color-primary-sky-blue-dark;
  -webkit-animation: blinker 0.5s ease-in-out infinite alternate;
  animation: blinker 0.5s ease-in-out infinite alternate;

  &.green {
    color: $color-secondary-light;
    --webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate;
    animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate;
  }

  &.purple {
    color: $color-primary-purple-dark;
    -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate;
    animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate;
  }
}

.footer__first-name {
  color: $color-primary-sky-blue-dark;
  -webkit-animation: blinker 0.5s ease-in-out infinite alternate 0.2s;
  animation: blinker 0.5s ease-in-out infinite alternate 0.2s;

  &.green {
    color: $color-secondary-light;
    -webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.2s;
    animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.2s;
  }

  &.purple {
    color: $color-primary-purple-dark;
    -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.2s;
    animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.2s;
  }
}

.footer__last-name {
  color: $color-primary-sky-blue-dark;
  -webkit-animation: blinker 0.3s ease-in-out infinite alternate 0.3s;
  animation: blinker 0.3s ease-in-out infinite alternate 0.3s;

  &.green {
    color: $color-secondary-light;
    -webkit-animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.3s;
    animation: colorPickerBlinkerGreen 0.5s ease-in-out infinite alternate 0.3s;
  }

  &.purple {
    color: $color-primary-purple-dark;
    -webkit-animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.3s;
    animation: colorPickerBlinkerPurple 0.5s ease-in-out infinite alternate 0.3s;
  }
}
// Side menu

.side-menu {
  width: 10%;
  height: 100vh;

  &__list {
    display: block;
    margin-left: 400%;
    @include respond(tab-port) {
      margin-left: 300%;
    }
    @include respond(phone) {
      margin-left: 300%;
    }

    &:first-child {
      padding-top: 80px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__link {
    width: 30px;
    height: 30px;
    @include respond(phone) {
      width: 26px;
      height: 26px;
    }
  }

  &__icon {
    width: inherit;
    height: inherit;
    fill: #fff;
    transition: all 0.3s ease-in-out;

    &.green {
      fill: #fff;

      &:hover {
        fill: $color-secondary-light;
        transform: scale(1.3, 1.3);
      }
    }

    &.purple {
      fill: #fff;

      &:hover {
        fill: $color-primary-purple-dark;
        transform: scale(1.3, 1.3);
      }
    }

    &:hover {
      fill: $color-primary-sky-blue-dark;
      transform: scale(1.3, 1.3);
    }
  }
}
// Mobile menu

.mobile-menu {
  display: none;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 9000;
  background-image: linear-gradient(135deg, rgba($color-primary-sky-blue-dark, 1) 50%, rgba($color-primary-sky-blue-light, 1) 100%);

  &.green {
    background-image: linear-gradient(135deg, rgba($color-primary-dark, 1) 50%, rgba($color-primary-light, 1) 100%);
  }

  &.purple {
    background-image: linear-gradient(135deg, rgba($color-primary-purple-dark, 1) 50%, rgba($color-primary-purple-light, 1) 100%);
  }
  @include clearFix;
  @include respond(tab-port) {
    display: inline-block;
  }
  @include respond(phone) {
    display: inline-block;
  }

  &__logo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    margin-top: 0.1rem;
    margin-left: 2.5rem;
  }

  &__menu {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-top: 0.2rem;
    margin-right: 1rem;
  }

  &__icon {
    width: 30px;
    height: 30px;
    fill: #fff;
    transition: all 0.3s ease-in-out;

    &.green {
      fill: #fff;

      &:hover {
        fill: $color-secondary-light;
        transform: scale(1.3, 1.3);
      }
    }

    &.purple {
      fill: #fff;

      &:hover {
        fill: $color-primary-purple-dark;
        transform: scale(1.3, 1.3);
      }
    }
    @include respond(phone) {
      width: 22px;
      height: 22px;
      margin-top: 0.3rem;
    }

    &:hover {
      fill: $color-primary-sky-blue-dark;
      transform: scale(1.1, 1.1);
    }
  }
}
// Color Picker

.picker {
  width: 30px;
  height: 30px;
  position: relative;
  left: 40%;
  bottom: 20%;
  cursor: pointer;
  @include respond(tab-land) {
    left: 35%;
  }
  @include respond(tab-port) {
    left: 32%;
  }
  @include respond(phone) {
    left: 30%;
  }

  &__color-picker {
    width: inherit;
    height: inherit;
    fill: #fff;
    transition: all 0.3s ease-in-out;

    &.green {
      fill: #fff;

      &:hover {
        fill: $color-secondary-light;
        transform: scale(1.3, 1.3);
      }
    }

    &.purple {
      fill: #fff;

      &:hover {
        fill: $color-primary-purple-dark;
        transform: scale(1.3, 1.3);
      }
    }

    &:hover {
      fill: $color-primary-sky-blue-dark;
      transform: scale(1.3, 1.3);
    }
  }
}
// Color Switcher

.color-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50px;
  background-image: linear-gradient(135deg, rgba($color-primary-sky-blue-light, 1) 50%, rgba($color-primary-sky-blue-dark, 1) 100%);
  position: relative;
  left: 0;
  bottom: 30%;
  border-radius: 30px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &.green {
    background-image: linear-gradient(135deg, rgba($color-primary-light, 1) 50%, rgba($color-primary-dark, 1) 100%);
  }

  &.purple {
    background-image: linear-gradient(135deg, rgba($color-primary-purple-light, 1) 50%, rgba($color-primary-purple-dark, 1) 100%);
  }
  @include respond(laptop) {
    bottom: 34%;
  }
  @include respond(tab-land) {
    width: 66%;
    height: 160px;
    bottom: 36%;
  }
  @include respond(tab-port) {
    height: 160px;
    bottom: 40%;
  }
  @include respond(sm-phone) {
    bottom: 52%;
  }
  @include respond(phone) {
    height: 135px;
    bottom: 48%;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 80%;
    @include respond(tab-land) {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      grid-gap: 10px;
    }
    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      grid-gap: 10px;
    }
    @include respond(phone) {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      grid-gap: 10px;
    }
    @include respond(sm-phone) {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      grid-gap: 10px;
    }
  }

  &__switcher-1 {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: $color-secondary-light;
    border-radius: 50%;
    cursor: pointer;
    @include respond(laptop) {
      width: 34px;
      height: 34px;
    }
    @include respond(tab-land) {
      justify-self: center;
      width: 34px;
      height: 34px;
    }
    @include respond(tab-port) {
      justify-self: center;
      width: 34px;
      height: 34px;
    }
    @include respond(phone) {
      justify-self: center;
      width: 30px;
      height: 30px;
    }
  }

  &__switcher-2 {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: $color-primary-purple-dark;
    border-radius: 50%;
    cursor: pointer;
    @include respond(laptop) {
      width: 34px;
      height: 34px;
    }
    @include respond(tab-land) {
      justify-self: center;
      width: 34px;
      height: 34px;
    }
    @include respond(tab-port) {
      justify-self: center;
      width: 34px;
      height: 34px;
    }
    @include respond(phone) {
      justify-self: center;
      width: 30px;
      height: 30px;
    }
  }

  &__switcher-3 {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: $color-primary-sky-blue-dark;
    border-radius: 50%;
    cursor: pointer;
    @include respond(laptop) {
      width: 34px;
      height: 34px;
    }
    @include respond(tab-land) {
      justify-self: center;
      width: 34px;
      height: 34px;
    }
    @include respond(tab-port) {
      justify-self: center;
      width: 34px;
      height: 34px;
    }
    @include respond(phone) {
      justify-self: center;
      width: 30px;
      height: 30px;
    }
  }
}