// Top section

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, rgba($color-primary-light, .4), rgba($color-primary-dark, .4)) ,url("../img/bg-photo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 300;
}
// About section

.about-section {
  background-image: linear-gradient(to right, rgba($color-primary-light, .4), rgba($color-primary-dark, .4)), url("../img/bg-photo-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 200;
  @include respond(phone) {
    padding: 10rem 0;
    height: 100%;
  }
}
// Portfolio section

.project-section {
  background-image: linear-gradient(to right, rgba($color-primary-light, .4), rgba($color-primary-dark, .4)), url("../img/bg-photo-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  @include respond(phone) {
    padding: 10rem 0;
    height: 100%;
    overflow: scroll;
  }
}
// Footer

.footer {
  margin-top: 200px;
  @include respond(tab-land) {
    margin-top: 50px;
  }
  @include respond(tap-port) {
    margin-top: -100px;
  }
  @include respond(phone) {
    margin-top: 200px;
  }
}
// Menu

menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100vh;
  z-index: 350;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, .6), rgba($color-primary-dark, .6));
  @include respond(tab-port) {
    display: none;
  }
  @include respond(phone) {
    display: none;
  }
}