// Top section

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, rgba($color-primary-light, .4), rgba($color-primary-dark, .4)) ,url("../img/bg-photo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // overflow: hidden;
  // z-index: 20;
}
// About section

.about-section {
  background-image: linear-gradient(to right, rgba($color-primary-light, .4), rgba($color-primary-dark, .4)), url("../img/bg-photo-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem 0;
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // overflow: hidden;
  @include respond(phone) {
    padding: 10rem 0;
    height: 100%;
  }
}
// Portfolio section

.project-section {
  background-image: linear-gradient(to right, rgba($color-primary-light, .4), rgba($color-primary-dark, .4)), url("../img/bg-photo-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem 0;
  position: relative;
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // overflow: scroll;
  // z-index: 10;
  @include respond(phone) {
    padding: 10rem 0;
    height: 100%;
  }
}

.footer {
  position: absolute;
  // bottom: 60px;
  bottom: 10%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  // width: 100%;
  @include respond(phone) {
    bottom: 50px;
  }
}