// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #7fff00; // Color Picker and Switcher
// Sky Blue Color
$color-primary-sky-blue-dark: #4dcbff;
$color-primary-sky-blue-light: #8fdeff;
$color-secondary-sky-blue: #97d0e8;
// Purple Color
$color-primary-purple-dark: #ff33ff;
$color-primary-purple-light: #fc7efc;
$color-secondary-purple: #c97dc9;