// Sky Blue Color
$color-primary-sky-blue-dark: #4dcbff;
$color-primary-sky-blue-light: #8fdeff;
$color-secondary-sky-blue: #97d0e8; // ********************************************** //
// Ocean Color
$color-dark-water-blue: #051f34;
$color-light-water-blue: #01a9c1;
$color-second-water: #027495; // ********************************************** //
// Black Color
$color-primary-dark: #070708;
$color-gray: #070708;
$color-gray-2: #343a40;
$color-dark-blue: #0e0f10;